#drum-pad {
    width: 15rem;
    max-width: 20rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

#pad {
    width: 4rem;
    min-height: 4rem;
    background: #ff6f69;
    margin: auto;
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}