#drum-pad {
    width: 15rem;
    max-width: 20rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

#pad {
    width: 4rem;
    min-height: 4rem;
    background: #ff6f69;
    margin: auto;
    font-family: inherit;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #4db2b6;
    &:hover {
        background-color: #ff8783;
    };
    &:active {
        background-color: #ff8783;
        transform: translateY(2px);
    };
    &:focus:after {
        background-color: #ff8783;
        transform: translateY(2px);
    }
}

